.login-btn {
  width: 5em;
  height: 2em;
  border-radius: 0.15em;
  transition: all;
}

.login {
  background-color: lightskyblue;
  border: 0.1em solid steelblue;
}

.logout {
  background-color: lightsalmon;
  border: 0.1em solid salmon;
}

.logout-container {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-content: center;
}
.welcome-text {
  margin: 0;
}
