.login-btn {
  width: 5em;
  height: 2em;
  border: 0;
  border-radius: 0.15em;
  transition: all 0.3s ease;
}

.my-posts {
  width: 8em;
}

.login {
  background-color: rgba(135, 206, 250, 0.637);
  margin-right: 3em;
}
.login:hover,
.logout:hover {
  cursor: pointer;
  background-color: rgba(217, 248, 238, 0.603);
  color: rgb(0, 78, 59);
  border: 0.05em rgb(0, 78, 59) solid;
  transition: all 0.3s ease;
}

.logout {
  background-color: lightsalmon;
}

.logout-container {
  display: flex;
  width: 35em;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 3em;
}
.welcome-text {
  margin: 0 0.5em;
}
.nav-item__chatty-time {
  margin-left: 2em;
}
