.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.nav-item:hover {
  transition: all 0.2s ease;
  color: darkslategrey;
}
