.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(240, 248, 255, 0.85);
}

.nav-item {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}

.nav-item:hover {
  transition: all 0.2s ease;
  color: darkslategrey;
}
